:root {
    --nav-height: 64px;
    --footer-height: 175px;
}


.main-component-wrapper
{
    padding: 1px;
    min-height: calc(100vh - 64px - 175px);
}


.home-component {
    .hero {
        background-image: url('../../public/static/media/iocl-refinary.jpg');
        background-size: cover;
        background-position: top center;
        height: calc(100vh - var(--nav-height));
    }
}