.LogoBox
{
    display: flex;
    flex-direction: column;
}

.lists
{
    list-style: none;
    padding: 0;
    // gap:60px;
}

// .ListItems
// {
//     display: flex;
//     justify-content: center;
// }

.footerIcons
{
    display: flex;
    justify-content: center;
    gap:40px;
}

.organization {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
