
.navComponent
*{
    display: flex;
    justify-content: space-around;
}

.LogoBox
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer
{
    height:100%;
}

.lists
{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:60px;
}

.ListItems
{
    display: flex;
    justify-content: center;
}

.footerIcons
{
    display: flex;
    justify-content: center;
    gap:40px;
}

.main-component-wrapper
{
    padding: 1px;
    min-height: calc(100vh - 64px - 175px);
}

.hello 
*{
    width: 40px;
    height: auto;
}
